body {
    font-family: Noto Sans JP;
}
img {
    width: 100%;
}

.vertical {
    writing-mode: vertical-rl;
    position: fixed;
    transform: rotate(-180deg);
    left: 2.5%;
}

.fixed {
    position: fixed;
}

.yellow {
    color: #F3D145;
}

.black {
    color: black;
}

.bold {
    font-weight: bold;
}

.center {
    text-align: center;
}

.font-sm {
    font-size: small;
}

.font-lg {
    font-size: large;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.flex {
    display: flex;
    vertical-align: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    vertical-align: center;
}

.left-menu div {
    text-align: center;
    align-self: center;
}

.left-menu-void1 {
    grid-area: void1;
    height: 5%;
}

.left-menu-logo {
    grid-area: logo;
    height: 8%;
}

.left-menu-void2 {
    grid-area: void2;
    height: 12%;
}

.left-menu-cart {
    height: 9%;
}

.left-menu-line1 {
    grid-area: left-menu-line1;
    height: 7%;
}

.left-menu-button {
    grid-area: menu-button;
    height: 20%;
}

.left-menu-line2 {
    grid-area: line2;
    height: 7%;
}

.left-menu-search {
    grid-area: search;
    height: 12%;
}

.left-menu-name {
    grid-area: name;
    height: 20%;
}

.left-menu {
    background-color: white;
    position: fixed;
    height: 100%;
    width: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
}

.main {
    color: #3B573B;
    position: fixed;
    background: none;
    height: 100%;
    width: 93%;
    left: 7%;
}

.annanas {
    background-image: url("images/annanas.png");
    background-position: bottom;
    background-size: cover;
}

.artichaud {
    background-image: url("images/artichaud.png");
    background-position: bottom;
    background-size: cover;
    display: none;
}

.line {
    height: 100%;
    width: 25%;
}

.products {
    padding: 40px;
    height: 25%;
    width: 100%;
}

.layontheline {
    height: 25%;
    width: 25%;
    flex-direction: column;
}

.layontheline div {
    height: 40px;
}

.right {
    position: fixed;
    right: -200px;
}

.media {
    width: 20px;
    height: 20px;
}